/***********
*
*
*
**********/
*{
	margin: 0;
	background: grey;
}
h1{
	font-size: 1,5em;
	color: white;
	padding: 10px 25px;
	margin-right: 10px;
	width: 20%;
	margin: 1% 40%;
}
h2{
	font-size: 1,2em;
	color: white;
	padding: 10px 25px;
	margin-right: 10px;
	width: 40%;
	margin: 2% 30%;
}
p{
	font-size: 1,1em;
	color: white;
	padding: 2% 5%;
	width: 50%;
	margin: 1% 25%;
	border: 1px solid white;
}
a{
	text-decoration: none;	
}